.DS_Store
/node_modules/
/data/*
nohup.out
/elasticsearch/venv/
*.pyc
/elasticsearch/schema.json
/logs
config.json

#c ignore https://github.com/github/gitignore/blob/master/C.gitignore
# Object files
*.o
*.ko
*.obj
*.elf

# Rope
.ropeproject

public/assets/js/open-exchange.js
